//- Шаблон
extends ../../layout-jade/layout

//- Переменные 
block variables
	- var title = 'Главная'
	- var site = 'site.ru'
	- var link = 'https://my-site.ru'
	- var description = 'Описание страницы'
	- var siteName = 'site name'
	- var keywords = 'Кючевые слова'
	- var body = 'is-home'

//- Контент
block content-page
	// Homepage-content
	main(class="homepage-content", role="main")
		//- Grids
		include ../_sections-template/grids/grids
		
	// End homepage-content

